@font-face {
    font-family: montserrat;
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: montserrat-bold;
    src: url(../fonts/Montserrat/Montserrat-Bold.ttf);
}

@font-face {
    font-family: montserrat-light;
    src: url(../fonts/Montserrat/Montserrat-Light.ttf);
}

@font-face {
    font-family: trade-gothic;
    src: url(../fonts/trade-gothic/Trade-Gothic-LT.ttf);
}

@font-face {
    font-family: trade-gothic-bold;
    src: url(../fonts/trade-gothic/Trade-Gothic-LT-Bold.ttf);
}


* {
    font-family: montserrat;
}

html,body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.section-heading {
    font-family: trade-gothic-bold;
    margin-bottom: 0px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}

/* Navigation Start */

.navbar-expand-lg {
    background-color: #1c1c1c;
    color: white;
}

.navbar-styles a {
    color: white;
    transition: color 0.5s;
    padding: 10px;
    padding-bottom: 5px;
    text-transform: uppercase;
}

.navbar-styles li.active a {
    color: #e41c26;
}

.navbar-styles a:hover {
    color: white;
}

.nav-item {
    margin-right: auto;
    margin-left: auto;
}

.row {
    width: 100%;
}

.navbar-styles ul li .underline {
	height: 2px;
	background-color: transparent;
	width: 0%;
	transition: width 0.2s, background-color 0.5s;
	margin: 0 auto;
}

.navbar-styles ul li.active .underline {
	width: 100%;
	background-color: #e41c26;
}

.navbar-styles ul li:hover .underline {
	background-color: #e41c26;
	width: 100%;
}

.navbar-styles ul li:hover a {
}

.navbar-styles ul li:active a {
	transition: none;
	color: rgba(255,255,255,0.76);
}

.navbar-styles ul li:active .underline {
	transition: none;
	background-color: rgba(255,255,255,0.76);
}

.nav-icons {
    list-style-type: none;
    flex-direction: row;
    margin-bottom: 0;
}

li.nav-icons-item {
    padding: 10px;
    display: inline-block;
}

/* Navigation End */

/* Nav Drawer */

body {
    animation: bugfix infinite 1s;
    -webkit-animation: bugfix infinite 1s;
  }
  
  @keyframes bugfix {
    from {
      padding: 0;
    }
    to {
      padding: 0;
    }
  }
  @-webkit-keyframes bugfix {
    from {
      padding: 0;
    }
    to {
      padding: 0;
    }
  }
  #overlay-button {
      display: none;
  }
  @media only screen and (max-width:768px) {
    #overlay-button {
        display: block;
    }
  }

  .mobile-nav {
    background-color: #1c1c1c;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
  }

  .mob-nav-logo {
    padding: 16px !important;
    display: block;
  }

  #overlay-button {
    position: absolute;
    right: 2em;
    top: 0;
    padding: 26px 11px;
    z-index: 5;
    cursor: pointer;
    user-select: none;
  }
  #overlay-button span {
    height: 4px;
    width: 35px;
    border-radius: 2px;
    background-color: white;
    position: relative;
    display: block;
    transition: all .2s ease-in-out;
  }
  #overlay-button span:before {
    top: -10px;
    visibility: visible;
  }
  #overlay-button span:after {
    top: 10px;
  }
  #overlay-button span:before, #overlay-button span:after {
    height: 4px;
    width: 35px;
    border-radius: 2px;
    background-color: white;
    position: absolute;
    content: "";
    transition: all .2s ease-in-out;
  }
  #overlay-button:hover span, #overlay-button:hover span:before, #overlay-button:hover span:after {
    background: #333332;
  }
  
  input[type=checkbox] {
    display: none;
  }
  
  input[type=checkbox]:checked ~ #overlay {
    visibility: visible;
  }
  
  input[type=checkbox]:checked ~ #overlay-button:hover span, input[type=checkbox]:checked ~ #overlay-button span {
    background: transparent;
  }
  input[type=checkbox]:checked ~ #overlay-button span:before {
    transform: rotate(45deg) translate(7px, 7px);
    opacity: 1;
  }
  input[type=checkbox]:checked ~ #overlay-button span:after {
    transform: rotate(-45deg) translate(7px, -7px);
  }
  
  #overlay {
    height: 100vh;
    width: 100vw;
    background: #1c1c1c;
    z-index: 999;
    visibility: hidden;
    position: fixed;
  }
  #overlay.active {
    visibility: visible;
  }
  #overlay ul {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    flex-direction: column;
    text-align: center;
    padding-left: 0;
    list-style-type: none;
    margin-top: 6vh;
  }
  #overlay ul li {
    padding: 0.2em;
  }
  #overlay ul li a {
    /* color: white; */
    text-decoration: none;
    font-size: 1.5em;
  }
  #overlay ul li a:hover {
    color: #333332;
  }

  .mob-nav-content {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-top: 6vh;
  }

  .nav-title {
      color: white;
  }

  .nav-contact {
    color: #9E9E9E !important;
  }

  .social-icons {
      margin-top: 30px;
  }

/* Cover section */

.cover-section {
    background: url(../images/travis-yewell-f-b7kwlkxdq-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

/* About Section */ 

.about {
    background-image: url(../images/robert-dickow-b7kmxoytq0g-unsplash.jpg);
    padding: 40px 0;
    background-size: cover;
    background-repeat: no-repeat;
}

.about-content img {
    width: 100%;
    height: 100%;
}

.about-text {
    color: white;
}

.about-text h1,.about-text h3 {
    /* font-family: montserrat-bold; */
    font-weight: bolder;
}

p.about-desc {
    font-family: montserrat-light;
}

/* Featured Product section */

section.featured-products {
    background-image: url(../images/notes-sheet.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px 0;
}

.featured-products .row {
    margin: 40px 0 0;
}

.featured-product-card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.featured-card-wrapper {
    background-color: white;
    padding: 20px !important;
    width: 90%;
}

.card-image {
    width: 100%;
}

.featured-card-wrapper a.view-more {
    color: #e41c26;
    text-decoration: none;
    float: left;
}

/* Latest Videos */

section.latest-video {
    background-image: linear-gradient(to bottom, rgba(002, 002, 002, 0.5), rgba(002, 002, 002, 0.5)), url(../images/latest-video-bg.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -20%;
    padding: 50px 0;
}

.latest-video .section-heading {
    color: white;
}

.latest-video .row {
    margin: 40px 0 0;
}

.video-iframe {
    width: 100%;
    height: 250px;
}

/* Testimonials */ 

section.testimonials {
    background-image: linear-gradient(to bottom, rgba(002, 002, 002, 0.5), rgba(002, 002, 002, 0.5)), url(../images/guitar-cover.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -20%;
    padding: 50px 0;
}

.testimonials .section-heading {
    color: white;
} 

.testimonial-image img {
    border-radius: 50%;
    width: 100%;
}

.testimonial-text {
    color: white;
    margin-top: 50px;
}

/* Recent Blog */
section.recent-blog {
    background-color: #1c1c1c;
    padding: 50px 0;
}

.recent-blog .section-heading {
    color: white;
    margin-bottom: 40px;
}

.blog-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog-content-wrapper {
    width: 95%;
    background-color: black;
    color: white;
    padding: 20px 30px !important;
}

.blog-div img {
    width: 100%;
    margin-bottom: 10px;
}

.blog-text {
    font-size: 14px;
}

@media only screen and (max-width:768px) {
    .navbar-expand-lg {
        display: none !important;
    }
    .featured-product-card,.blog-div,.youtube-video-card {
        margin-bottom: 50px;
        padding: 0 !important;
    }
    .featured-card-wrapper,.blog-content-wrapper {
        width: 100%;
    }
    section.testimonials {
        background-position: 0%;
    }
    .testimonail-row,.featured-products .row {
        margin: 0 !important;
    }
    .testimonial-image {
        text-align: center;
        margin-top: 30px;
    }
    .testimonial-image img{
        width: 80%;
    }
    .testimonial-text {
        margin-top: 30px;
        text-align: center;
    }
    .latest-video .row,.recent-blog .row {
        margin: 0;
    }
    .latest-video .section-heading ,.featured-products .section-heading {
        margin-bottom: 40px;
    }
}

@media only screen and (max-width:515px) {
    h1.about-heading {
        font-size: 2.3rem;
    }
}

@media only screen and (max-width:450px) {
    h1.about-heading {
        font-size: 1.9rem;
        margin-top: 20px;
    }
    h3.about-skills {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width:414px) {
    h1.about-heading {
        font-size: 1.7rem;
    }
    h3.about-skills {
        font-size: 1.1rem;
    }
}

@media only screen and (max-width:379px) {
    h1.about-heading {
        font-size: 1.5rem;
    }
    h3.about-skills {
        font-size: 1.1rem;
    }
}

@media only screen and (max-width:350px) {
    h1.about-heading {
        font-size: 1.35rem;
    }
    h3.about-skills {
        font-size: 1rem;
    }
}



  