
/* Cover section */


.cover-section {
    background: url(../images/homeCover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

/* About Section */ 

.about {
    background-image: url(../images/robert-dickow-b7kmxoytq0g-unsplash.jpg);
    padding: 40px 0;
    background-size: cover;
    background-repeat: no-repeat;
}

.about-content img {
    width: 100%;
    height: 100%;
}

.about-text {
    color: white;
}

.about-text h1,.about-text h3 {
    /* font-family: montserrat-bold; */
    font-weight: bolder;
}

p.about-desc {
    font-family: montserrat-light;
}

/* Featured Product section */

section.featured-products {
    background-image: url(../images/notes-sheet.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px 0;
}

.featured-products .row {
    margin: 40px 0 0;
}

.featured-product-card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.featured-card-wrapper {
    background-color: white;
    padding: 20px !important;
    width: 90%;
}

.card-image {
    width: 100%;
}

.featured-card-wrapper a.view-more {
    color: #e41c26;
    text-decoration: none;
    float: left;
}

/* Latest Videos */

section.latest-video {
    background-image: linear-gradient(to bottom, rgba(002, 002, 002, 0.5), rgba(002, 002, 002, 0.5)), url(../images/latest-video-bg.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -20%;
    padding: 50px 0;
}

.latest-video .section-heading {
    color: white;
}

.latest-video .row {
    margin: 40px 0 0;
}

.video-iframe {
    width: 100%;
    height: 250px;
}

/* Testimonials */ 

section.testimonials {
    background-image: linear-gradient(to bottom, rgba(002, 002, 002, 0.5), rgba(002, 002, 002, 0.5)), url(../images/guitar-cover.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -20%;
    padding: 50px 0;
}

.testimonials .section-heading {
    color: white;
} 

.testimonial-image img {
    border-radius: 50%;
    width: 100%;
}

.testimonial-text {
    color: white;
    margin-top: 50px;
}

/* Recent Blog */
section.recent-blog {
    background-color: #1c1c1c;
    padding: 50px 0;
}

.recent-blog .section-heading {
    color: white;
    margin-bottom: 40px;
}

.blog-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog-content-wrapper {
    width: 95%;
    background-color: black;
    color: white;
    padding: 20px 30px !important;
}

.blog-div img {
    width: 100%;
    margin-bottom: 10px;
}

.blog-text {
    font-size: 14px;
}

@media only screen and (max-width:768px) {
    .featured-product-card,.blog-div,.youtube-video-card {
        margin-bottom: 50px;
        padding: 0 !important;
    }
    .featured-card-wrapper,.blog-content-wrapper {
        width: 100%;
    }
    section.testimonials, section.latest-video {
        background-position: 0%;
    }
    .testimonail-row,.featured-products .row {
        margin: 0 !important;
    }
    .testimonial-image {
        text-align: center;
        margin-top: 30px;
    }
    .testimonial-image img{
        width: 80%;
    }
    .testimonial-text {
        margin-top: 30px;
        text-align: center;
    }
    .latest-video .row,.recent-blog .row {
        margin: 0;
    }
    .latest-video .section-heading ,.featured-products .section-heading {
        margin-bottom: 40px;
    }
    .cover-section {
        background-position: center;
    }
}

@media only screen and (max-width:515px) {
    h1.about-heading {
        font-size: 2.3rem;
    }
}

@media only screen and (max-width:450px) {
    h1.about-heading {
        font-size: 1.9rem;
        margin-top: 20px;
    }
    h3.about-skills {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width:414px) {
    h1.about-heading {
        font-size: 1.7rem;
    }
    h3.about-skills {
        font-size: 1.1rem;
    }
}

@media only screen and (max-width:379px) {
    h1.about-heading {
        font-size: 1.5rem;
    }
    h3.about-skills {
        font-size: 1.1rem;
    }
}

@media only screen and (max-width:350px) {
    h1.about-heading {
        font-size: 1.35rem;
    }
    h3.about-skills {
        font-size: 1rem;
    }
}



  