.cover-section {
    background: url(../images/storeCover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

section.products {
    background: url(../images/productBG.png) no-repeat;
    /* background-color: #DADADA; */
    width: 100%;
    padding: 0;
    background-attachment: fixed;
    background-size: cover;
}

.products-div {
    margin-bottom: 50px;
}

.product-top-section {
    padding-top: 40px;
    background-color: #DADADA;
    /* height: 50vh; */
    padding-bottom: 50px;
    margin-bottom: 50px;
}

.search-field {
    width: 60%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('../images/search-black.png');
    background-size: 20px;
    background-position: 95% 10px; 
    background-repeat: no-repeat;
    padding: 10px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    display: inline-block;
}

label[for=sort] {
    margin-left: 19%;
    margin-right: 10px;
}

.sort-field {
    width: 40%;
    display: inline-block;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    padding: 10px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.sort-field option {
    padding: 101px;
    font-family: montserrat;
}

.sort-div {
    display: inline-block;
}

.product-opening-text {
    font-family: trade-gothic-bold;
    width: 50%;
    margin: 50px auto;
    text-align: center;
}

.products-wrapper {
    width: 100%;
    background-color: white;
    padding: 25px;
}

.product-image {
    padding: 0 !important;
}

.product-img {
    width: 100%;
}

h4.product-title {
    margin-bottom: 0;
    font-family: trade-gothic-bold;
}

span.song-genre {
    font-size: 14px;
    color: dimgray;
    font-weight: bold;
}

.files-icon {
    margin: 15px 0;
}

img.files-icon {
    width: 50px;
    margin-right: 10px;
}


@media only screen and (max-width:768px) {
    .product-text {
        order: 2;
        padding: 0 !important;
        margin-top: 15px;
    }
    .products-div {
        padding: 0 !important;
    }
    .product-image {
        order: 1;
    }
    .specific-product-row {
        margin: 0 !important;
    }
    .all-pruducts-row {
        margin: 0 !important;
    }
    .cover-section {
        background-position-x: center;
    }
    .product-opening-text {
        width: 90%;
    }
    .search-field {
        width: 90%;
        margin: auto;
    }
    .sort-field {
        width: 50%;
        margin-top: 20px;
    }
    .search-and-filter {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    label[for=sort] {
        margin-left: 0;
    }
    .sort-div {
        text-align: center;
    }
}

@media only screen and (max-width:363px) {
    img.files-icon {
        width: 50px;
        margin-right: 5px;
    }
}

@media only screen and (max-width:433px) {
    img.files-icon {
        width: 40px;
        margin-right: 5px;
    }
}