@font-face {
    font-family: montserrat;
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: montserrat-bold;
    src: url(../fonts/Montserrat/Montserrat-Bold.ttf);
}

@font-face {
    font-family: montserrat-light;
    src: url(../fonts/Montserrat/Montserrat-Light.ttf);
}

@font-face {
    font-family: trade-gothic;
    src: url(../fonts/trade-gothic/Trade-Gothic-LT.ttf);
}

@font-face {
    font-family: trade-gothic-bold;
    src: url(../fonts/trade-gothic/Trade-Gothic-LT-Bold.ttf);
}


* {
    font-family: montserrat;
}

html,body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.box-shadow {
  box-shadow:6px 6px 8px rgba(0,0,0,0.5);
}

.box-shadow-light {
  box-shadow:6px 6px 8px rgba(0,0,0,0.2);
}

.section-heading {
    font-family: trade-gothic-bold;
    margin-bottom: 0px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}

/* Navigation Start */

.navbar-expand-lg {
    background-color: #1c1c1c;
    color: white;
}

.navbar-nav {
  justify-content: center;
}

.navbar-styles a {
    color: white;
    transition: color 0.5s;
    padding: 10px;
    padding-bottom: 5px;
    text-transform: uppercase;
}

.navbar-styles li.active a {
    color: #e41c26;
}

.navbar-styles a:hover {
    color: white;
}

.row {
    width: 100%;
}

.navbar-styles ul li .underline {
	height: 2px;
	background-color: transparent;
	width: 0%;
	transition: width 0.2s, background-color 0.5s;
	margin: 0 auto;
}

.navbar-styles ul li.active .underline {
	width: 100%;
	background-color: #e41c26;
}

.navbar-styles ul li:hover .underline {
	background-color: #e41c26;
	width: 100%;
}

.navbar-styles ul li:hover a {
}

.navbar-styles ul li:active a {
	transition: none;
	color: rgba(255,255,255,0.76);
}

.navbar-styles ul li:active .underline {
	transition: none;
	background-color: rgba(255,255,255,0.76);
}

.nav-icons {
    list-style-type: none;
    flex-direction: row;
    margin-bottom: 0;
}

li.nav-icons-item {
    padding: 10px;
    display: inline-block;
}

/* Navigation End */

/* Nav Drawer */

body {
    animation: bugfix infinite 1s;
    -webkit-animation: bugfix infinite 1s;
  }
  
  @keyframes bugfix {
    from {
      padding: 0;
    }
    to {
      padding: 0;
    }
  }
  @-webkit-keyframes bugfix {
    from {
      padding: 0;
    }
    to {
      padding: 0;
    }
  }
  #overlay-button {
      display: none;
  }
  @media only screen and (max-width:768px) {
    #overlay-button {
        display: block;
    }
  }

  .mobile-nav {
    background-color: #1c1c1c;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
  }

  .mob-nav-logo {
    padding: 16px !important;
    display: block;
  }

  #overlay-button {
    position: absolute;
    right: 2em;
    top: 0;
    padding: 26px 11px;
    z-index: 5;
    cursor: pointer;
    user-select: none;
  }
  #overlay-button span {
    height: 4px;
    width: 35px;
    border-radius: 2px;
    background-color: white;
    position: relative;
    display: block;
    transition: all .2s ease-in-out;
  }
  #overlay-button span:before {
    top: -10px;
    visibility: visible;
  }
  #overlay-button span:after {
    top: 10px;
  }
  #overlay-button span:before, #overlay-button span:after {
    height: 4px;
    width: 35px;
    border-radius: 2px;
    background-color: white;
    position: absolute;
    content: "";
    transition: all .2s ease-in-out;
  }
  /* #overlay-button:hover span, #overlay-button:hover span:before, #overlay-button:hover span:after {
    background: #333332;
  } */
  
  input[type=checkbox] {
    display: none;
  }
  
  input[type=checkbox]:checked ~ #overlay {
    visibility: visible;
  }
  
  input[type=checkbox]:checked ~ #overlay-button:hover span, input[type=checkbox]:checked ~ #overlay-button span {
    background: transparent;
  }
  input[type=checkbox]:checked ~ #overlay-button span:before {
    transform: rotate(45deg) translate(7px, 7px);
    opacity: 1;
  }
  input[type=checkbox]:checked ~ #overlay-button span:after {
    transform: rotate(-45deg) translate(7px, -7px);
  }
  
  #overlay {
    height: 100vh;
    width: 100vw;
    background: #1c1c1c;
    z-index: 999;
    visibility: hidden;
    position: fixed;
  }
  #overlay.active {
    visibility: visible;
  }
  #overlay ul {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    flex-direction: column;
    text-align: center;
    padding-left: 0;
    list-style-type: none;
    margin-top: 6vh;
  }
  #overlay ul li {
    padding: 0.2em;
  }
  #overlay ul li a {
    /* color: white; */
    text-decoration: none;
    font-size: 1.5em;
  }
  #overlay ul li a:hover {
    color: #333332;
  }

  .mob-nav-content {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-top: 6vh;
  }

  .nav-title {
      color: white;
  }

  .nav-contact {
    color: #9E9E9E !important;
  }

  .social-icons {
      margin-top: 30px;
  }

  @media only screen and (max-width:768px) {
    .navbar-expand-lg {
        display: none !important;
    }
}
